
.body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#ffc8d2;
} 
.box{ 
    position: relative;
    width: 450px;
    height: 550px;
    background: #ffbac6;
    border-radius: 8px;
    overflow: hidden;
}

.box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#b80a2a,#b80a2a,#b80a2a);
    z-index: 1;
     transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#b80a2a,#b80a2a,#b80a2a);
    z-index: 1;
     transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}
.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#73008a,#73008a,#73008a);
    z-index: 1;
     transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg,transparent,
    transparent,#73008a,#73008a,#73008a);
    z-index: 1;
     transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.box form{
    position: absolute;
    inset: 4px;
    background: #ff7a92;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
.box form .inputBox{
    position: relative;
    width: 355px;
    margin-top: 35px;
}
.box form .inputBox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}
.box form .inputBox span{
    position: absolute;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #fff;
    font-size: 1em;
    transition: .5s;
}

.inputBox input:focus ~ span,
.inputBox input:valid ~ span{
 color: #fff;
font-size: 0.75em;
 transform: translateY(-34px);
}
.box form .inputBox i{
 position: absolute;
 left: 0;
 bottom: 0;
 width: 100%;
 height: 2px;
 background: #fff;
 overflow: 0.5s;
 transition: 0.5s;
 pointer-events: none;
}
 .inputBox input:focus ~ i,
 .inputBox input:valid ~ i{
  color: #fff;
  background: transparent;
}
.box form .links{
    display: flex;
    justify-content: space-between;
}
.box form .links a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #fff;
    text-decoration: none;
}
.box form .links a:hover,
.box form .links a:nth-child(2){
    color: #fff;
}
button{
    width: 100%;
    height: 55px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1em;
    color: #000;
    font-weight: 500;
}
